<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

    <description>spring-base-config</description>

    <!-- 自动扫描bean配置的目录 -->
    <context:component-scan base-package="com.cqx.testspring.webservice.*"/>

    <!--<bean name="LoginServiceImpl" class="com.cqx.testspring.webservice.operhis.service.LoginServiceImpl"></bean>-->

    <!-- 导入cxf配置 -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>

</beans>